input {
    padding: 100% rgb(0, 255, 234);
    background-color: rgb(150, 216, 233);
    padding: 30px;
    border-radius: 10px;
    border bottom: 10px solid 1px black;

    width: 100%;



}

select {
    padding: rgb(0, 255, 234);
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(53, 156, 216);
    padding: 1px;
    border-color: 10px black;
    border bottom: 10px solid 1px black;



}

form {
    margin-right: 15px;
}